@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor1: #D50100;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

header {
    width: 100%;
    margin-bottom: 20px;
}

#imagem_header {
    border-radius: 10px;
    width: 100px;
}

a.nav_link {
    font-size: 20px;
    color: var(--cor1);
}

a.nav_link:hover {
    color: var(--cor1);
    text-decoration: none;
}

footer a {
    color: black;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

section#main_header {
    text-align: center;
}

form {
    width: 70vw;
    margin: auto;
}

input#observacoes {
    padding-top: 7px;
    padding-bottom: 100px;
}

footer {
    margin: 50px auto 0 auto;
    text-align: center;
}

/*
#D50100 - red
#EEEEEE - gray
*/